paper-tabs {
  background-color: $ucla-blue;
  color: $white;
  #ink {
    color: $ucla-gold;
  }
}

div.core-selected {
  position: relative;
  padding: $half-spacing;
  margin-top: $half-spacing;
}
