@import 'breakpoint';
@import 'toolkit';
@import 'config/global-vars';

:host {
  display: block;
  float: right;
  width: 45%;
  background: lighten($neutral, 14%);
  position: relative;
  border-radius: $half-spacing;
  padding: $default-spacing;
  min-height: $octo-spacing;
}

:host:before {
   content:"";
   position: absolute;
   right: 100%;
   top: $double-spacing;
   width: 0;
   height: 0;
   border-top: $default-spacing solid transparent;
   border-right: $default-spacing solid lighten($neutral, 14%);
   border-bottom: $default-spacing solid transparent;
}

dd {
  font-weight: bold;
}

p {
  font-size: $meta-font-size;
}

.fail {
  background: $ucla-pink;
  color: $black;
  border-radius: $global-border-radius;
  padding: $half-spacing;
}

.success {
  background: $ucla-green;
  color: $black;
  border-radius: $global-border-radius;
  padding: $half-spacing;
}