.hero-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-form-input {
  font-size: $h1-font-size;
  width: 41rem;
  margin-bottom: 0;
}

.sinking {
  margin-top: $octo-spacing;
}