.centered-query {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 auto;
  max-width: 41rem;
  margin: auto;
}

.general-contents {
  display: block;
  width: 98%;
  margin: 0 auto;
  flex: 1 0 auto;
}

.query-results {
  width: 39rem;
  float: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.full {
  width: 100%;
}

.account-actions {
  margin-left: 41rem;
}

.status h2, .account-actions h2 {
  margin-top: 0;
}

core-pages .core-selected {
  background: $neutral;
}
