.home section[role="main"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 auto;
  max-width: 41rem;
  margin: auto;
}

.full-time section[role="main"] {
  display: block;
  width: 98%;
  margin: 0 auto;
  flex: 1 0 auto;
}

.part-time section[role="main"] {
  display: block;
  width: 41rem;
  margin: 0 auto;
  flex: 1 0 auto;
}

.query-results {
  width: 39rem;
  float: left;
}

.account-actions {
  margin-left: 41rem;
}

.full {
  width: 100%;
}

.inline-label-input {
  input {
    width: 1.5rem;
  }
}

.status h2, .account-actions h2 {
  margin-top: 0;
}