// overall layout

.home div[role="main"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 auto;
  max-width: 41rem;
  margin: auto;
}

.full-time div[role="main"] {
  display: block;
  width: 98%;
  margin: 0 auto;
  flex: 1 0 auto;
}

.part-time div[role="main"] {
  display: block;
  width: 41rem;
  margin: 0 auto;
  flex: 1 0 auto;
}

.query-results {
  width: 39rem;
  float: left;
}

.account-actions {
  margin-left: 41rem;
  position: sticky;
  top: 10px;
}

// misc classes 

.full {
  width: 100%;
}

.back {
  text-decoration: none;
  font-size: 3.5rem;
}

// actions

.inline-label-input {
  input {
    width: 1.5rem;
  }
}

.status h2, .account-actions h2 {
  margin-top: 0;
}

core-pages {
  div {
    margin-top: 1rem;
  }
  section {
    width: 50%;
    padding-right: $double-spacing;
    float: left;
  }
}
