@import 'singularitygs';
@import 'breakpoint';
@import 'config/global-vars';

:host {
  display: block;
}

header {
  background-color: #003B6A;
  background-image: linear-gradient(to bottom, #003B6A, #265F8E);
}

h1 {
  color: $white;
  font-family: 'Proxima Nova', Verdana, sans-serif;
  font-weight: normal;
}