@import 'breakpoint';
@import 'toolkit';
@import 'config/global-vars';

:host {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  background-color: #003B6A;
  background-image: linear-gradient(to bottom, #003B6A, #265F8E);
  border-bottom: 1px solid #17244c;
  min-height: 100px;
  padding-top: $default-spacing;
}

img {
  max-height: 80px;
}

h1 {
  color: $white;
  font-family: 'Proxima Nova', Verdana, sans-serif;
  font-size: $h3-font-size;
  margin: 0;
  padding-top: 2.1rem;
}

.app-name {
  flex-grow: 10;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

aside {
  align-self: flex-start;
  padding-right: $default-spacing;
  color: $white;
  font-size: $meta-font-size;
}