@import 'breakpoint';
@import 'toolkit';
@import 'config/global-vars';

:host {
  display: block;
}

h2 {
  color: $body-text-color;
  padding: 0 $half-spacing;
  margin-bottom: 0;
  font-size: $h3-font-size;
}

dl {
  font-size: $meta-font-size;
  margin-top: 0;
  color: $black;
}

dt, dd {
  overflow: hidden;
}

dt {
  float: left;
  width: 25%;
  text-align: right;
  padding-right: $default-spacing;
  padding-top: .2rem;
  font-weight: bold;
  background: lighten($neutral, 16%);
  border-bottom: 1px solid lighten($neutral, 13%);
  &:nth-of-type(even) {
    background: lighten($neutral, 18%);
    border-bottom: 1px solid lighten($neutral, 13%);
  }
}

dd {
  word-wrap: break-word;
  width: 75%;
  margin-left: 0;
  padding-top: .2rem;
  background: lighten($neutral, 16%);
  border-bottom: 1px solid lighten($neutral, 13%);
  &:nth-of-type(even) {
    background: lighten($neutral, 18%);
    border-bottom: 1px solid lighten($neutral, 13%);
  }
}

:host(.pink) {
  dt {
    background: mix($ucla-pink, $white, 40%);
    border-bottom: 1px solid mix($ucla-pink, $white, 45%);
    &:nth-of-type(even) {
      background: mix($ucla-pink, $white, 38%);
      border-bottom: 1px solid mix($ucla-pink, $white, 45%);
    }
  }
  dd {
    background: mix($ucla-pink, $white, 40%);
    border-bottom: 1px solid mix($ucla-pink, $white, 45%);
    &:nth-of-type(even) {
      background: mix($ucla-pink, $white, 38%);
      border-bottom: 1px solid mix($ucla-pink, $white, 45%);
    }
  }
}

:host(.yellow) {
  dt {
    background: lighten($ucla-gold, 20%);
    border-bottom: 1px solid $ucla-gold;
    &:nth-of-type(even) {
      background: lighten($ucla-gold, 18%);
      border-bottom: 1px solid $ucla-gold;
    }
  }
  dd {
    background: lighten($ucla-gold, 20%);
    border-bottom: 1px solid $ucla-gold;
    &:nth-of-type(even) {
      background: lighten($ucla-gold, 18%);
      border-bottom: 1px solid $ucla-gold;
    }
  }
}

:host(.blue) {
  dt {
    background: mix($ucla-cyan, $white, 50%);
    border-bottom: 1px solid mix($ucla-cyan, $white, 55%);
    &:nth-of-type(even) {
      background: mix($ucla-cyan, $white, 40%);
      border-bottom: 1px solid mix($ucla-cyan, $white, 55%);
    }
  }
  dd {
    background: mix($ucla-cyan, $white, 50%);
    border-bottom: 1px solid mix($ucla-cyan, $white, 55%);
    &:nth-of-type(even) {
      background: mix($ucla-cyan, $white, 40%);
      border-bottom: 1px solid mix($ucla-cyan, $white, 55%);
    }
  }
}

:host(.orange) {
  dt {
    background: lighten($ucla-orange, 14%);
    border-bottom: 1px solid $ucla-orange;
    &:nth-of-type(even) {
      background: lighten($ucla-orange, 12%);
      border-bottom: 1px solid $ucla-orange;
    }
  }
  dd {
    background: lighten($ucla-orange, 14%);
    border-bottom: 1px solid $ucla-orange;
    &:nth-of-type(even) {
      background: lighten($ucla-orange, 12%);
      border-bottom: 1px solid $ucla-orange;
    }
  }
}