@import 'breakpoint';
@import 'toolkit';
@import 'config/global-vars';

:host {
	-webkit-user-select: none;
	-moz-user-select: none;
	overflow: hidden;
	background: white;
	padding: $double-spacing;
	outline: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}