@import 'breakpoint';
@import 'toolkit';
@import 'config/global-vars';

core-overlay {
  -webkit-user-select: none;
  -moz-user-select: none;
  overflow: hidden;
  background: white;
  padding: $double-spacing;
  box-shadow: 0 1px 1px #347bad;
  max-width: 41em;
}
